.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.card {
  background-color: white;
  box-shadow: 0 2.5px 3px 0 rgba(0, 0, 0, 0.09);
  border: solid 0.5px #e6e6e6;
  margin: 2em;
  padding: 1em 0;
  width: 300px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  &:hover {
    transform: scale(1.1);
    transition: .3s ease;
  }
}

.pagination {
  width: 100%;
}

.loading {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}